<%- include('../partials/header') %>

<div class="row align-content-center text-center flex-column align-items-center">
    <h1 class="mb-4">Edit comment for:</h1>
    <div class=""style="width: 30%;">
        <div class="form-group">
            <form action="/campgrounds/<%= campgroundID %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input class="form-control mb-3" type="text" name="comment[title]" value="<%= comment.title %>">
                <button class="form-control mb-2 btn btn-primary btn-lg" type="submit">Save</button class="form-control">
            </form>
            <div style="text-align: left;">
                <a href="/campgrounds/<%= campgroundID %>">Go Back</a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>