<%- include('../partials/header') %>
<div class="container">
    <div class="row align-content-center text-center flex-column align-items-center">
        <h1 class="mb-4">Add new comment to <%= campground.name %></h1>
        <div class=""style="width: 30%;">
            <div class="form-group">
                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                   <input class="form-control mb-3" type="text" name="comment[title]" placeholder="Title">
                   <button class="form-control mb-2 btn btn-primary btn-lg" type="submit">Create</button class="form-control">
                </form>
                <div style="text-align: left;">
                    <a href="/campgrounds/<%= campground._id %>">Go Back</a>
                </div>
           </div>
       </div>
    </div>
</div>

<%- include('../partials/footer') %>